/* Configuraciones iniciales */
* {
  box-sizing: border-box;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


.titulo {
  background-color: #0f0f0f;
  padding: 15px;
  text-align: center;
  color: rgba(17, 236, 17, 0.692);
  text-shadow: 2px 2px 2px #48eec4
}

.titulo .form-control {
  min-width: 420px;
  color: rgb(79, 79, 85);
}

/*Listado que refleja el resultado de la busqueda */
.listadoIzquierdo {
  overflow: auto
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
  border: 1px solid #000;
  background-color: #0f0f0f;
}

.menu p {
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: rgb(238, 231, 231);
}


.menu p:hover {
  background-color: rgba(17, 236, 17, 0.692);
}

/*En principal mostramos los detalles del personaje en tablas*/
.principal {
  float: left;
  width: 60%;
  padding: 0 20px;
}


.principal table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.principal td,
th {
  border: 1px solid #0f0f0f;
  text-align: left;
  padding: 8px;
}

.principal tr:nth-child(even) {
  background-color: #c7f1e9;
}

/*Mensje informativo para el usuario*/
.mensaje {
  color: rgba(17, 236, 17, 0.692);
}

/*Formato de la imagen cuando no hay resultados*/
.detalles img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*Foto del personaje seleccionado de la lista*/
.cuadroDerecho {
  background-color: #48eec4;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  color: #0f0f0f;
}

.cuadroDerecho img {
  max-width: 100%;
  height: auto;
}

/*Texto realizado por*/
.pie {
  text-align: center;
  padding: 10px;
  margin-top: 7px;
  font-weight: bolder;
}

/*Un contenedor para poder ordenar el boton*/
.contenedorBotonEpisodios{
  padding-top: 25px;
}

/*Se le da el formato al boton para ver los episodios*/
.btnEpisodios {
  background-color: #199319;
  color: white;
  padding: 15px;
  text-decoration: none;
}

.btnEpisodios:hover {
  background-color: #223094;
}

/*Efecto*/
.modalmask {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalmask:target {
  opacity:1;
  pointer-events: auto;
}

/*Formato de la ventana creada*/
.modalbox{
  width: 700px;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: #fff;
  border-radius:3px;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
   
}

/*Movimientos de la pantalla modal*/
.rotate {
  margin: 10% auto;
  -webkit-transform: scale(-5,-5);
  transform: scale(-5,-5);
}

.modalmask:target .rotate{     
  transform: rotate(360deg) scale(1,1);
      -webkit-transform: rotate(360deg) scale(1,1);
}

/*Boton de cerrar*/
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius:3px;

}

.close:hover {
  background: #FAAC58;
  color:#222;
}

/*Formato para el boton de episodios use la pagina https://www.bestcssbuttongenerator.com/*/
.botonEpisodio {
	box-shadow:inset 0px 0px 0px 0px #d9fbbe;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	border-radius:19px;
	border:5px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.botonEpisodio:hover {
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	background-color:#a5cc52;
}
.botonEpisodio:active {
	position:relative;
	top:1px;
}


/*Reasignacion de tamaño*/
@media only screen and (max-width: 620px) {

  .menu,
  .principal,
  .cuadroDerecho {
    width: 100%;
  }
}